vars/secrets.yaml
certificates
Spread-Cluster With Local Data/terraform/account_vars.tf
Spread-Cluster With Local Data/terraform/.terraform/
Spread-Cluster With Local Data/terraform/terraform.tfstate.backup
Spread-Cluster With Local Data/terraform/terraform.tfstate
