# This file is interpreted by systemd unit file quobyte-client.service

# Config file location
config_file=/etc/quobyte/client-service.cfg

# Mount options (used by quobyte-client.service)
#fuse_options=-o user_xattr
fuse_options=--no-default-permissions

#needed for access keys
