- hosts: dataservices
  vars_files:
   - /home/deploy/quobyte-ansible/vars/ansible-vars
  become: yes
  vars:
    devices1:
      - /dev/sdb
      - /dev/sdc
    devices2:
      - /dev/sdd
        #  - /dev/nvme0n1


  tasks:
    - name: Create config directory  
      ansible.builtin.file:
        path: "/etc/quobyte/{{ item }}"
        state: directory
        owner: quobyte 
        group: quobyte
      with_items: 
         - quobyte-data-1
         - quobyte-data-2

    - name: Create device test directories
      ansible.builtin.file:
        path: "/var/lib/quobyte/{{ item }}"
        state: directory
        owner: quobyte 
        group: quobyte
      with_items: 
         - data-1
         - data-2

    - name: Link devices into test directories 
      ansible.builtin.file:
        src: "/var/lib/quobyte/mnt/inspector-{{ item | basename}}" 
        dest: "/var/lib/quobyte/data-1/{{ item | basename }}"
        state: link
        force: yes
      with_items: "{{ devices1 }}"

    - name: Link devices into test directories 
      ansible.builtin.file:
        src: "/var/lib/quobyte/mnt/inspector-{{ item | basename}}" 
        dest: "/var/lib/quobyte/data-2/{{ item | basename }}"
        state: link
        force: yes
      with_items: "{{ devices2 }}"

    - name: Place service config for first service
      template:
        src: templates/quobyte-data-1.cfg
        dest: "/etc/quobyte/{{ item }}/data.cfg"
        owner: quobyte
        group: quobyte
      with_items: 
         - quobyte-data-1

    - name: Place service config for secondary service
      template:
        src: templates/quobyte-data-2.cfg
        dest: "/etc/quobyte/{{ item }}/data.cfg"
        owner: quobyte
        group: quobyte
      with_items: 
         - quobyte-data-2

    - name: Add systemd unit files
      template:
        src: templates/quobyte-data-number.service
        dest: "/etc/systemd/system/{{ item }}.service"
      with_items: 
         - quobyte-data-1
         - quobyte-data-2
           
    - name: Disable Quobyte default data services
      service:
        enabled: yes
        state: stopped
        name: "{{ item }}"
      with_items: 
         - quobyte-data

    - name: Enable Quobyte data services
      service:
        enabled: yes
        state: restarted
        name: "{{ item }}"
      with_items: 
         - quobyte-data-1
         - quobyte-data-2

    - name: Wait for data service {{ ansible_facts["ens7"]["ipv4"]["address"] }}:7873 to signal readiness
      uri:
        url: http://{{ ansible_facts["ens7"]["ipv4"]["address"] }}:7873/serviceHealth
        return_content: no 
        validate_certs: no
        status_code:
        - 200
      until: uri_output.status == 200
      retries: 24
      delay: 5
      register: uri_output

    - name: Wait for data service {{ ansible_facts["ens6"]["ipv4"]["address"] }}:7873 to signal readiness
      uri:
        url: http://{{ ansible_facts["ens6"]["ipv4"]["address"] }}:7873/serviceHealth
        return_content: no 
        validate_certs: no
        status_code:
        - 200
      until: uri_output.status == 200
      retries: 24
      delay: 5
      register: uri_output


- hosts: registryservices[0]
  become: yes
  vars_files:
    - /home/deploy/quobyte-ansible/vars/ansible-vars
  tasks:

    - name: Wait for device inspector to find any unused devices.
      pause: 
        seconds: 45

    - name: Get Quobyte session 
      shell:
        cmd: qmgmt -u {{ api_service }} user login {{ admin_user }} {{ admin_password }} 
    - name: Create a list of unformatted devices
      ignore_errors: yes
      shell:
        cmd: qmgmt -u {{ api_service }} device list-unformatted | awk '{print $1}' | grep -v -e ^Handle -e ^No
      register: empty_devices 
    - debug: 
       var: empty_devices

    - set_fact: 
       unformatted_devices: "{{ empty_devices.stdout_lines }}"
    - debug: 
        var: unformatted_devices

    - name: Create "make device" tasks 
      shell:
        cmd: qmgmt -u {{ api_service }} device make {{ item }} DATA 
      with_items: "{{ unformatted_devices }}"

    - name: Wait for tasks to finish before proceeding 
      shell: 
        cmd: qmgmt -u {{ api_service }} --output json task list RUNNING SCHEDULED QUEUED 
      register: result
      until: result.stdout.find("MAKE_DEVICE") < 1
      retries: 500
      delay: 10




